.fondCarré {
    width: 70vh;
    height: 35vh;
    background-color: #10ACB8;
    rotate: 20deg;
    position: fixed;
    left: 75%;
    top: 80%;
}
.fondCercle1 {
    width: 80vh;
    height: 80vh;
    border-radius: 50%;
    background-color: #057E87;
    box-shadow: inset 1em 1em #046971;
    position: fixed;
    top: 60%;
    right: 70%;
}
.fondCercle2 {
    width: 80vh;
    height: 80vh;
    border-radius: 50%;
    
    box-shadow: inset 1em -1em #D6D6D6;
    background-color: #50514F;
    position: fixed;
    top: -40%;
    left: 70%;
}
.imageProfil {
    position:absolute;
    height: 25%;
    border-radius: 40%;
    transform: translate(-50%, -50%);
    top: 50%;
    left: 50%;
}
h2.nom {
    position: absolute;
    left: 50%;
    top: 29%;
    transform: translate(-50%, -50%);
    font-family: 'Montserrat', sans-serif;
    font-size:5vh; 
}
.logoMDS {
    position:fixed;
    height: 10vh;
    width: 15vw;
    transform: translate(-50%, -50%);
    top: 7%;
    left: 8%;
    transition: all 0.5s;
}
.logoMDS:hover {
    transform: scale(1.1);
}
.barreNav {
    color: #50514F;
    font-family: 'Montserrat', sans-serif;
    font-size: 2vh;
    margin-right: 40px;
    text-decoration: none;
    transition: all 0.5s;
}
.barreNav:hover {
    transform: scale(1.3);
}
.flexer{
    display: flex;
    justify-content: center;
    margin-top: 3%;
}
.mesRéa {
    position: fixed;
    left: 50%;
    top: 100vh;
    transform: translate(-50%, -50%);
}
.icones {
    display: flex;
    height: 90vh;
    justify-content: center;
    align-items: flex-end;
}
.icone{
    margin: 5px;
    transition: all 0.5s;
    font-size:30px;
}
.icone:hover {
    transform: scale(1.3);
}

/* Mes Réalisations */

.main_box{
    margin: 0 auto;
    margin-top: 15em;
    display: grid;
    grid-auto-flow: column;
    gap: 1em;
    height: 35em;
    width: 40em;
    overflow-y: hidden;
    overscroll-behavior-x: contain;
    scroll-snap-type: x mandatory;
}
.main_box img{
    height: 40vh;
    width: 30vw;
    max-width: none;
    object-fit: contain;
    scroll-snap-align: center;
}
.txtRea {
    width: 30vw;
    text-align: center;
    margin-left: 10vh;

}